<style type="text/css">
     html,body{width:100%;height:100%;margin:0;padding:0;font-size:10px;background:#FFFFFF;-webkit-overflow-scrolling: touch;}
     a{color:#000000;-webkit-tap-highlight-color: transparent;}
     img,li,div{-webkit-tap-highlight-color: transparent;}
     input::-webkit-input-placeholder{ color: #8a93ba; }
     #loading_main{width:100%;height:100%;position:fixed;left:0;top:0;z-index:1000000;background: #fff;display: none;}
     #loading_main p{width:100%;margin-top:55%; text-align:center;font-size:2.1rem;color:#fff;}
    /* 音乐 */
    #music{ position: absolute; left: 0; top: -10%; z-index: 1000;}
    #music_img{position:fixed;right:2%;top:2%;z-index:100001;display:none;}
    .music_move{animation: act4 3s linear 0s infinite normal;-webkit-animation: act4 3s linear 0s infinite normal;}
    @keyframes act4{
      0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
      }
      100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
      }
    }
    @-webkit-keyframes act4{
      0%{
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
      }
      100%{
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
      }
    }

    /* 首页 */
    #home_main{ position: relative; display: none; overflow: hidden;}
    #home_main>span{ position: absolute; left: 0; top: 0; z-index: 10;}
    /*规则页*/
    #rule_main{ position: absolute; left:0;top:0;z-index:11;display: none; overflow: hidden;background: rgba(0,0,0,0.6);}
    #rule{ position: absolute; left: 0; top: 0; z-index: 12;}
    #rule_main .rm_closeBtn{ position: absolute; left: 0; top: 0; z-index: 13;}
    /*游戏页*/
    #game_main{ position: relative; display: none; overflow: hidden;}
    #circle_main{ position: absolute; left:0;top:0;z-index:20; display: none; overflow: hidden;}
    #center{ position: absolute; left:0;top:0;z-index:21; display: none; overflow: hidden;}
    /*结果页*/
    #result_main{ position: absolute;left:0;top:0;z-index:30; display: none; overflow: hidden; background: rgba(0,0,0,0.6);}
    #resultbg{ position: absolute; left:0;top:0;z-index:31; display: none; overflow: hidden;}
    #result1{ position: absolute; left:0;top:0;z-index:32; display: none; overflow: hidden;}
    #result2{ position: absolute; left:0;top:0;z-index:33; display: none; overflow: hidden;}
    #result3{ position: absolute; left:0;top:0;z-index:34; display: none; overflow: hidden;}
    #result_main .rm_prizeBtn{ position: absolute; left: 0; top: 0; z-index: 34; }
    #result0_main{ position: absolute;left:0;top:0;z-index:35; display: none; overflow: hidden;}
    #result0_1{ position: absolute;left:0;top:0;z-index:36; display: none; overflow: hidden;}
    #result0_2{ position: absolute;left:0;top:0;z-index:36; display: none; overflow: hidden;}
    #result0_3{ position: absolute;left:0;top:0;z-index:36; display: none; overflow: hidden;}
    #result0_main .rm_againBtn{ position: absolute; left: 0; top: 0; z-index: 37;}
    /*中奖页*/
    #prize_main{ position: absolute;left:0;top:0;z-index:40; display: none; overflow: hidden; background: rgba(0,0,0,0.6);}
    #prize1{ position: absolute; left: 0; top: 0; z-index: 43;display: none; overflow: hidden;}
    #prize1 input{  position: absolute; left: 0; top: 0;  z-index: 44; display: block; background: transparent; /*background:rgba(0,0,0,0.4);*/border: 0; font-size: 1.6rem; color: #000; text-align: center;}
    #prize1 .pm_sureBtn{ position: absolute; left: 0; top: 0; z-index: 45;}
    #prize0{ position: absolute; left: 0; top: 0; z-index: 41;display: none; overflow: hidden;}
    #prize_main .pm_againBtn{ position: absolute; left: 0; top: 0; z-index: 42; }
    /*提交页面*/
    #submit_main{ position: absolute;left:0;top:0;z-index:46; display: none; overflow: hidden; background: rgba(0,0,0,0.6);}
    #submit{ position: absolute; left: 0; top: 0; z-index: 47;display: none; overflow: hidden;}
    #submit_main .sm_sureBtn{ position: absolute; left: 0; top: 0; z-index: 48; }

</style>